.timer{
    margin-top: 15px;
    margin-right: 50px;
    margin-left: 80px;
    margin-bottom: 10px;
    font-size: xx-large;
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
}